/* scss */
/* ===========================
   SCSS Variablen und Fonts
   =========================== */

/* Einbinden spezieller Schriftart 'Dice' */
@font-face {
  font-family: 'Ghost';
  src: url('/public/fonts/Ghost/Ghost.woff2') format('woff2');
}

/* Einbinden spezieller Schriftart 'Playstation' */
@font-face {
  font-family: 'Playstation';
  src: url('/public/fonts/Playstation/Playstation.woff2') format('woff2');
}

/* Farbliche Grundwerte und URL-Hintergrund */
$background_color_dark: #2A2D32;
$white: #FFFFFF;
$gray: #666666;
$red: #F15147;
$red_dark: #B93F2F;
$bg_glow_blue: #4a90d9;
$bg_blue1: #1B2838;
$bg_blue2: #2A475E;
$bg_dark: #1A1A1A;
$bg_auth: #3a3f44;
$bg_green: #8ed529;
$bg_green_dark: #5a921e;

$background_url: "https://shared.steamstatic.com/store_item_assets/steam/apps/2142790/page_bg_generated_v6b.jpg?t=1732653943";

/* Größen, Abstände und Übergänge */
$scrollbar-size: 12px;
$border-radius: 10px;
$transition-time: 0.3s;
$base-font-size: 16px;
$font-family: 'Ghost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/* Hintergründe für Buttons */
$btn-primary-gradient: linear-gradient(135deg, #66c0f4, #4a90d9);
$btn-primary-gradient-hover: linear-gradient(135deg, #4a90d9, #357ab8);

/* Button- und Input-Parameter */
$btn-padding: 10px 20px;
$search-btn-padding: 0 25px;
$input-padding: 12px 20px;

/* Hero-Section-Größen */
$hero-h1-font-size: 3em;
$hero-h1-padding-bottom: 20px;
$hero-p-font-size: 1.2em;

/* Allgemeine Sektionseinstellungen */
$section-padding: 0 20px;
$section-h2-font-size: 2.5em;
$section-h2-margin-bottom: 40px;

/* GamesModel Card */
$game-card-max-width: 350px;
$game-card-width: 100%;
$card-padding: 20px;
$card-title-margin-bottom: 15px;
$card-text-margin-bottom: 20px;

/* Navbar */
$navbar-link-margin-right: 15px;

/* Auth-Box (z.B. für Login) */
$auth-form-padding: 10px;
$auth-form-margin-bottom: 15px;
$auth-form-border-radius: 5px;
$bg-auth-btn: #66c0f4;
$bg-auth-btn-hover: #1B75BC;

/* Scrollbar-Farbe */
$scrollbar-track-border: darken($background_color_dark, 10%);