/* ===========================================
              SCSS Integrations
   =========================================== */

@import '../main/_variables.scss';



.info-page {
  .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    margin: 20px 0;
    color: $white;
    background-blend-mode: darken;
    background-size: cover;
    background: rgba(0, 0, 0, .30) url("../../image/Hero_Illustration.png") no-repeat center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }

  .info-logo {
    font-family: Ghost, sans-serif;
  }

  .info-content {
    max-width: 600px;
    padding: 30px;
  }

  .logo {
    height: 100px;
    margin-bottom: 20px;
  }

  .info-title {
    font-family: 'Ghost', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: $bg_glow_blue;
    text-shadow: 0 0 10px $bg_glow_blue;
  }

  .info-text {
    font-family: 'Playstation', sans-serif;
    font-size: 120%;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  // Online Status und <p> Styling
  .online-status {
    font-size: 1em;
    margin-bottom: 20px;
    color: $bg_green;

    p {
      color: $white;
      text-decoration: none;
      font-weight: bold;
      margin-top: 25px;
      transition: transform 0.3s;
    }
  }

  .info-btn {
    padding: 15px 30px;
    background-color: $bg_glow_blue;
    color: $white;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s;
    display: inline-block;
  }

  .info-btn:hover {
    transform: scale(1.05);
    background: $bg_green;
  }
}
