@import '../main/_variables.scss';

.d-container {
  background-color: $bg_blue2;
  color: $white;
  border-radius: $border-radius;
  padding: 30px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6), 0 0 6px rgba($bg_glow_blue, 0.3);
  margin: 50px auto;
  width: 90%;
  max-width: 1000px;
  font-family: $font-ps;

  @media (max-width: 768px) {
    width: 95%;
    padding: 20px;
    margin: 30px auto;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    border-radius: 0;
  }

  h3 {
    font-size: 1.8em;
    margin-bottom: 25px;

    @media (max-width: 576px) {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }

  h5 {
    font-size: 1.4em;
    margin-bottom: 5px;

    @media (max-width: 576px) {
      font-size: 1.2em;
    }
  }

  p {
    font-size: 1em;
    margin-bottom: 25px;
    line-height: 1.5;

    @media (max-width: 576px) {
      font-size: 0.9em;
      margin-bottom: 20px;
    }
  }

  ul {
    margin-bottom: 70px;

    @media (max-width: 576px) {
      margin-bottom: 50px;
    }
  }
}